apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hytale-server
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/jski/hytale-k8s.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: hytale
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
